In [79]:
"""
Below is the document Report link for Analysis document :
https://docs.google.com/document/d/1or6AdBaRysWuH1Gz5MPhD129vMvGdktl/edit?usp=sharing&ouid=107857076080323012434&rtpof=true&sd=true
"""


from bs4 import BeautifulSoup
from selenium  import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import requests
import time

Names = []
Reviews = []
Dates = []
Cities = []

url = """https://www.flipkart.com/apple-iphone-15-blue-128-gb/product-reviews/itmbf14ef54f645d?pid=MOBGTAGPAQNVFZZY&lid=LSTMOBGTAGPAQNVFZZYQRLPCQ&marketplace=FLIPKART"""
driver = webdriver.Chrome()
driver.get(url)

for i in range(2,5):

    time.sleep(2)
    soup = BeautifulSoup(driver.page_source,"html.parser")

    Names = soup.find_all("p",{"class":"_2NsDsF AwS1CA"})
    for i in Names :
        names.append(i.text)

    Reviews = soup.find_all("div",{"class":"ZmyHeo"})
    for i in Reviews :
        reviews.append(i.text)

    Cities = soup.find_all("p",{"class":"MztJPv"})
    for i in Cities:
        cities.append(i.text)

    Dates = soup.find_all("p",{"class":"_2NsDsF"})
    for i in Dates:
        dates.append(i.text)

    for i in dates :
        act_dates = dates[1::2]

    time.sleep(2)

    driver.find_element(By.XPATH,"""/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]""").click()

In [80]:
len(names)

336

In [81]:
import pandas as pd
df = pd.DataFrame({"Names":names, "Cities":cities,"Reviews":reviews,"Dates":act_dates})
df

,Names,Cities,Reviews,Dates
0,[Pratyay Sarkar],"[[Certified Buyer], [, Kolkata]]",[[[It is a really good phone for daily tasks. ...,[6 months ago]
1,[Manish Gupta],"[[Certified Buyer], [, Isri]]","[[[Heating issue], [<span>READ MORE</span>]]]",[7 months ago]
2,[santosh parida],"[[Certified Buyer], [, Hyderabad]]","[[[Excellent!!!], [<span>READ MORE</span>]]]",[8 months ago]
3,[Rahul Banerjee],"[[Certified Buyer], [, Bansberia]]","[[[Awesome., <br/>, <br/>, Camera too good, <b...","[Nov, 2023]"
4,[Inderjit Singh],"[[Certified Buyer], [, Thane District]]",[[[Very good deal and fastest delivery in next...,[8 months ago]
...,...,...,...,...
331,Manya Customer,"Certified Buyer, Chennai",The phone is pretty awesome! Switching from an...,"Sep, 2023"
332,Sanjay Yadav,"Certified Buyer, Jaunpur",Good productREAD MORE,"Oct, 2023"
333,Raghupathireddy Paindla,"Certified Buyer, Hyderabad",Very good. Happy with the product. Camera qual...,"Sep, 2023"
334,dr sachchidanand pardeshi,"Certified Buyer, Sangli District",Very good qualityREAD MORE,5 months ago
335,ABIR MODAK,"Certified Buyer, Halisahar",The camera quality is just awesome ..just like...,8 months ago

In [82]:
df["Reviews"] = df["Reviews"].str.lower()
df

,Names,Cities,Reviews,Dates
0,[Pratyay Sarkar],"[[Certified Buyer], [, Kolkata]]",NaN,[6 months ago]
1,[Manish Gupta],"[[Certified Buyer], [, Isri]]",NaN,[7 months ago]
2,[santosh parida],"[[Certified Buyer], [, Hyderabad]]",NaN,[8 months ago]
3,[Rahul Banerjee],"[[Certified Buyer], [, Bansberia]]",NaN,"[Nov, 2023]"
4,[Inderjit Singh],"[[Certified Buyer], [, Thane District]]",NaN,[8 months ago]
...,...,...,...,...
331,Manya Customer,"Certified Buyer, Chennai",the phone is pretty awesome! switching from an...,"Sep, 2023"
332,Sanjay Yadav,"Certified Buyer, Jaunpur",good productread more,"Oct, 2023"
333,Raghupathireddy Paindla,"Certified Buyer, Hyderabad",very good. happy with the product. camera qual...,"Sep, 2023"
334,dr sachchidanand pardeshi,"Certified Buyer, Sangli District",very good qualityread more,5 months ago
335,ABIR MODAK,"Certified Buyer, Halisahar",the camera quality is just awesome ..just like...,8 months ago

In [ ]:
#nltk and TextBlob libraries for Tokenizing = Break down into list of sentences into different sentences
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize   #Similarly, word tokenize breaks down diff words.
from textblob import TextBlob
import string

nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

In [87]:
#To tokenize the words in the Reviews
df['Reviews'] = df['Reviews'].fillna("")
df["Tokenized_Reviews"] = df["Reviews"].apply(sent_tokenize)
df

,Names,Cities,Reviews,Dates,Tokenized_Reviews
0,[Pratyay Sarkar],"[[Certified Buyer], [, Kolkata]]",,[6 months ago],[]
1,[Manish Gupta],"[[Certified Buyer], [, Isri]]",,[7 months ago],[]
2,[santosh parida],"[[Certified Buyer], [, Hyderabad]]",,[8 months ago],[]
3,[Rahul Banerjee],"[[Certified Buyer], [, Bansberia]]",,"[Nov, 2023]",[]
4,[Inderjit Singh],"[[Certified Buyer], [, Thane District]]",,[8 months ago],[]
...,...,...,...,...,...
331,Manya Customer,"Certified Buyer, Chennai",the phone is pretty awesome! switching from an...,"Sep, 2023","[the phone is pretty awesome!, switching from ..."
332,Sanjay Yadav,"Certified Buyer, Jaunpur",good productread more,"Oct, 2023",[good productread more]
333,Raghupathireddy Paindla,"Certified Buyer, Hyderabad",very good. happy with the product. camera qual...,"Sep, 2023","[very good., happy with the product., camera q..."
334,dr sachchidanand pardeshi,"Certified Buyer, Sangli District",very good qualityread more,5 months ago,[very good qualityread more]
335,ABIR MODAK,"Certified Buyer, Halisahar",the camera quality is just awesome ..just like...,8 months ago,[the camera quality is just awesome ..just lik...

In [89]:
"""
To find the polarity of each of sentence in Reviews column, we use statistics.
Then, we find the mean of polarity of each Review(if there are more than one polarity/more than one sentence after sent_tokenization)
Lastly we find the Avergae of Complete Polarity.
"""

from statistics import mean

def find_polarity(sentences):
    return [TextBlob(sentence).sentiment.polarity for sentence in sentences]

df['Polarity'] = df['Tokenized_Reviews'].apply(find_polarity)

def calculate_avg_polarity(polarities):
    return mean(polarities) if polarities else 0

df['Average_Polarity'] = df['Polarity'].apply(calculate_avg_polarity)

df.head(10)

,Names,Cities,Reviews,Dates,Tokenized_Reviews,Polarity,Average_Polarity
0,[Pratyay Sarkar],"[[Certified Buyer], [, Kolkata]]",,[6 months ago],[],[],0.000000
1,[Manish Gupta],"[[Certified Buyer], [, Isri]]",,[7 months ago],[],[],0.000000
2,[santosh parida],"[[Certified Buyer], [, Hyderabad]]",,[8 months ago],[],[],0.000000
3,[Rahul Banerjee],"[[Certified Buyer], [, Bansberia]]",,"[Nov, 2023]",[],[],0.000000
4,[Inderjit Singh],"[[Certified Buyer], [, Thane District]]",,[8 months ago],[],[],0.000000
5,[VENKATESH REDDY],"[[Certified Buyer], [, Bengaluru]]",,[9 months ago],[],[],0.000000
6,Mousam Guha Roy,"Certified Buyer, Matialihat",very niceread more,"Oct, 2023",[very niceread more],[0.35],0.350000
7,Prithivi Boruah,"Certified Buyer, Bokajan",camera quality is improved loving itread more,"Oct, 2023",[camera quality is improved loving itread more],[0.55],0.550000
8,Ajin V,"Certified Buyer, Balaghat",high quality camera😍read more,"Oct, 2023",[high quality camera😍read more],[0.33],0.330000
9,bijaya mohanty,"Certified Buyer, Baleshwar",just go for it.amazing one.beautiful camera wi...,5 months ago,[just go for it.amazing one.beautiful camera w...,[0.3444444444444444],0.344444

In [91]:
df['Average_Polarity'].mean()  # The overall Average Polarity of the 336 reviews.

0.4949844104308391